:root {
    --text-color: #1a1c20;
    --link-color: #030303;
    --background-color: #eeeff1;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: #ffffff;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  /* NAVBAR */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    height: 80px;
    overflow: auto;
  }
  
  nav .left a {
    color: black;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
  }
  
  nav .left a:hover,
  nav .right a:hover {
    color: rgb(166, 162, 162); /* Change text color on hover */
  }
  
  nav .right a {
    color: black;
    margin: 0 10px;
  }
  
  nav .right a:last-child {
    color: black;
    background-color: #b9abdad1;
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  nav .right a:last-child:hover {
    color: var(--text-color); /* Change text color on hover */
    background-color: #d7d2d2; /* Change background color on hover */
  }
  
  nav .right a span {
    margin-left: 5px;
  }
  
  /* SECTION 1: Hero */
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
  }
  
  .hero-section .text {
    flex: 5;
  }
  
  .hero-section .text h2 {
    font-size: 45px;
  }
  
  .hero-section .text .links {
    margin-top: 25px;
  }
  
  .hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
  }
  
  .hero-section .text .links a:hover {
    color: black;
    border: 3px solid;
  }
  
  .hero-section .headshot {
    flex: 2;    
    display: flex;
    justify-content: right;
  }
  
  .hero-section .headshot img {
    width: 350px;
    border-radius: 15%;
  }
  
  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  
  .skills-section h2 {
    text-align: center;
    font-size: 35px;
  }
  
  .skills-section .text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
  }
  
  .skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
  }
  
  .skills-section .cells .cell span {
    font-size: 18px;
  }
  
  /* SECTION 3: Testimony */
  .testimony-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  
  .testimony-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .testimony-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .testimony-section .group .person-details {
    text-align: center;
    flex: 2;
  }
  
  .testimony-section .group .person-details img {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 30%;
    margin-bottom: 10px;
  }
  
  .testimony-section .group .person-details p {
    font-weight: 600;
  }
  
  .testimony-section .group .person-details p:last-child {
    font-weight: normal;
  }
  
  .testimony-section .group .text {
    flex: 8;
  }
  
  /* SECTION 4: Details */
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
    margin-bottom: 5%;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: #737679;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px rgb(0, 0, 0);
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: rgb(0, 0, 0);
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  

  /* Footer Section */

  .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }